### MacOS

.DS_Store

### Maven

target/
*.jar
.mvn/wrapper/MavenWrapperDownloader.java

### IntelliJ IDEA

*.iml
.idea/

### VS Code

.vscode/
.settings/
.apt_generated/
.apt_generated_tests/
.classpath
.project
